@media screen and (max-width: 1000px) and (min-width: 701px) {
  nav ul.meniu > li {
    width: auto !important;
    padding: 0 15px !important;

    a {
      // Ascunde ambele tipuri de text din HTML-ul tău
      .text-nav, .text-icon { display: none !important; } 
      
      i, .imag-icon { 
        display: inline-block !important; 
        font-size: 1.5rem !important; 
        margin: 0 !important; 
      }
    }
  }
}