@media screen and (max-width: 1000px) and (min-width: 701px) {
  nav ul.meniu > li {
    width: auto !important;
    padding: 0 15px !important;
  }
  nav ul.meniu > li a .text-nav, nav ul.meniu > li a .text-icon {
    display: none !important;
  }
  nav ul.meniu > li a i, nav ul.meniu > li a .imag-icon {
    display: inline-block !important;
    font-size: 1.5rem !important;
    margin: 0 !important;
  }
}