<footer id="contact-info">
    <div class="footer-content">
        <address>
            <p><b>contacteaza echipa musichiosc:</b> <br>
                telefon direct: <a href="tel:+40712345678">+40 712 345 678</a>
            </p>
            <p><b>sediul central si showroom:</b> <br>
                strada muzicii nr. 8, sector 1, bucuresti, romania
            </p>
            <p>urmeaza indicatorul roz din centrul vechi!</p>
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8!2d26.1!3d44.4!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDI0JzAwLjAiTiAyNsKwMDYnMDAuMCJF!5e0!3m2!1sro!2sro!4v1700000000000!5m2!1sro!2sro" width="400" height="250" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <p><b>e-mail suport:</b> <br>
                <a href="mailto:contact@musichiosc.ro">contact@musichiosc.ro</a>
            </p>
            <p><b>whatsapp audiofili:</b> <br>
                <a href="https://wa.me/40712345678" target="_blank">chat direct cu un expert audio</a>
            </p>
        </address>
    </div>

    <div class="footer-bottom">
        <p>link-uri rapide: <a href="#">politica de confidentialitate</a> | <a href="#">termeni si conditii</a></p>
        <p><small>copyright © 2026 anda dutescu | toate drepturile rezervate. <br>
        pagina a fost creata la data de: <time datetime="2026-03-08">8 martie 2026</time>.</small></p>
    </div>

    <a href="#pag_sus" id="link-top" title="sari la pickup (inceputul paginii)">
        <div id="sageata-top">🠹</div>
    </a>

    <p id="banner-proiect">acesta este un proiect scolar!</p>
</footer>

<div id="watermark-print">
    anda<br>dutescu
</div>