<footer id="contact-info">
    <div class="footer-content">
        <address>
            <p><b>Contactează echipa Musichiosc:</b> <br>
                Telefon direct: <a href="tel:+40712345678">+40 712 345 678</a>
            </p>
            <p><b>Sediul Central și Showroom:</b> <br>
                Strada Muzicii nr. 8, Sector 1, București, România [cite: 89]
            </p>
            <p>Urmează indicatorul roz din centrul vechi!</p>
            
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8!2d26.1!3d44.4!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDI0JzAwLjAiTiAyNsKwMDYnMDAuMCJF!5e0!3m2!1sro!2sro!4v1700000000000!5m2!1sro!2sro"
                width="400" height="250" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe> [cite: 90]

            <p><b>E-mail suport:</b> <br>
                <a href="mailto:contact@musichiosc.ro">contact@musichiosc.ro</a>
            </p>
            <p><b>WhatsApp Audiofili:</b> <br>
                <a href="https://wa.me/40712345678" target="_blank">Chat Direct cu un Expert Audio</a> [cite: 91]
            </p>
        </address>
    </div>

    <div class="footer-bottom">
        <p>Link-uri rapide: <a href="#">Politica de Confidențialitate</a> | <a href="#">Termeni și Condiții</a></p> [cite: 92]
        <p><small>Copyright © 2026 Anda Dutescu | Toate drepturile rezervate. <br>
        Pagina a fost creată la data de: <time datetime="2026-03-08">8 Martie 2026</time>.</small></p> [cite: 93]
    </div>

    <a href="#pag_sus" id="link-top" title="Sari la pickup (începutul paginii)">
        <div id="sageata-top">🠹</div>
    </a>

    <div id="watermark"><p>Acesta este un proiect școlar Musichiosc!</p></div>
</footer>