<div class="galerie-animata-container">

    <% for(let img of galerieAnimata){ %>

        <figure>

            <img
                src="<%= img.cale_imagine %>"
                alt="<%= img.descriere %>"
            >

        </figure>

    <% } %>

</div>