<header style="z-index: 2000; position: relative;">
    <h1> Musichiosc </h1>
    <img src="./resurse/imagini/sigla.png" width="60" height="70" alt="sigla Musichiosc" title="Logo Oficial Musichiosc" />

    <nav>
        <label id="hamburger" for="ch-menu">
            <i class="fas fa-bars"></i>
        </label>
        <input type="checkbox" id="ch-menu" />

        <ul class="meniu">
            <li>
                <a href="index.html">
                    <div class="imag-icon" id="acasa-mediu"><span class="fas fa-house"></span></div>
                    <div class="text-icon" id="acasa">Acasa</div>
                </a>
                <ul class="submeniu">
                    <li><a href="#welcome">Sanctuar Audio</a></li>
                    <li><a href="#promotii">Pachete Exclusive</a></li>
                    <li><a href="#orar">Sesiuni Audiție</a></li>
                    <li><a href="#index-intrebari">Întrebări Frecvente</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <div class="imag-icon"><span class="fas fa-user-plus"></span></div>
                    <div class="text-icon">Cont Client</div>
                </a>
                <ul class="submeniu">
                    <li><a href="#">Autentificare</a></li>
                    <li><a href="#">Creare Cont</a></li>
                    <li><a href="#">Wishlist Vinyl</a></li>
                </ul>
            </li>

            <li>
                <a href="despre.html">
                    <div class="imag-icon"><span class="fas fa-circle-info"></span></div>
                    <div class="text-icon">Despre Noi</div>
                </a>
                <ul class="submeniu">
                    <li><a href="despre.html#prezentare">Cine suntem</a></li>
                    <li><a href="despre.html#istoric">Istoria Analogului</a></li>
                    <li><a href="despre.html#locatii">Showroom-uri</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <div class="imag-icon"><span class="fa-solid fa-compact-disc"></span></div>
                    <div class="text-icon">Catalog</div>
                </a>
                <ul class="submeniu">
                    <li><a href="#">Vinyl (LPs)</a></li>
                    <li><a href="#">CD-uri & SACD</a></li>
                    <li><a href="#">Sisteme Hi-Fi</a></li>
                </ul>
            </li>

            <li>
                <a href="#contact-info">
                    <div class="imag-icon"><span class="fa-regular fa-envelope"></span></div>
                    <div class="text-icon">Contact Rapid</div>
                </a>
            </li>
        </ul>
    </nav>
    <div id="banner-pls"></div>
</header>