<header style="z-index: 2000; position: relative;">
    <h1> Musichiosc </h1>
    <img src="/resurse/imagini/sigla.png" width="60" height="70" alt="sigla Musichiosc" title="Logo Oficial Musichiosc" />

    <nav>
        <label id="hamburger" for="ch-menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <input type="checkbox" id="ch-menu" />

        <ul class="meniu">
            <li>
                <a href="/index">
                    <i class="fas fa-house"></i>
                    <span class="text-nav">Acasa</span>
                </a>
                <ul class="submeniu">
                    <li><a href="/index#welcome">Sanctuar Audio</a></li>
                    <li><a href="/index#promotii">Pachete Exclusive</a></li>
                    <li><a href="/index#orar">Sesiuni Auditie</a></li>
                    <li><a href="/index#index-intrebari">Intrebari Frecvente</a></li>
                </ul>
            </li>
            
            <li>
                <a href="/produse">
                    <i class="fa-solid fa-jar"></i>
                    <span class="text-nav">Produse</span>
                </a>
                <ul class="submeniu">
                    <li><a href="/produse">Toate</a></li>
                    <% if (locals.optiuniMeniu) { %>
                        <% for(let opt of optiuniMeniu) { %>
                            <li><a href="/produse?tip=<%- opt.nume %>"><%- opt.nume %></a></li>
                        <% } %>
                    <% } %>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fas fa-user-plus"></i>
                    <span class="text-nav">Cont Client</span>
                </a>
                <ul class="submeniu">
                    <li><a href="#">Autentificare</a></li>
                    <li><a href="#">Creare Cont</a></li>
                    <li><a href="#">Wishlist Vinyl</a></li>
                </ul>
            </li>

            <li>
                <a href="/despre">
                    <i class="fas fa-circle-info"></i>
                    <span class="text-nav">Despre Noi</span>
                </a>
                <ul class="submeniu">
                    <li><a href="/despre#istoric">Istoria Analogului</a></li>
                    <li><a href="/despre#echipa">Echipa Noastra</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa-solid fa-compact-disc"></i>
                    <span class="text-nav">Catalog</span>
                </a>
                <ul class="submeniu">
                    <li><a href="#">Vinyl (LPs)</a></li>
                    <li><a href="#">CD-uri & SACD</a></li>
                    <li><a href="#">Sisteme Hi-Fi</a></li>
                </ul>
            </li>

            <li>
                <a href="#contact-info">
                    <i class="fa-regular fa-envelope"></i>
                    <span class="text-nav">Contact Rapid</span>
                </a>
            </li>
        </ul>
    </nav>
</header>